.jl-dropdown .jl-dropdown__menu {
  --jl-dropdown-menuItem-hover-fill: var(--jl-color-primary-light-9);
  --jl-dropdown-menuItem-hover-color: var(--jl-color-primary);
  --jl-dropdown-menuItem-disabled-color: var(--jl-border-color-lighter);
  --jl-dropdown-menuItem-divided-color: var(--jl-border-color-lighter);
}
.jl-dropdown {
  display: inline-block;
  .jl-tooltip {
    --jl-popover-padding: 5px 0;
  }
}
.jl-dropdown__menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  .jl-dropdown__item {
    display: flex;
    align-items: center;
    white-space: nowrap;
    list-style: none;
    line-height: 22px;
    padding: 5px 16px;
    margin: 0;
    font-size: var(--jl-font-size-base);
    color: var(--jl-text-color-regular);
    cursor: pointer;
    outline: none;
    &:hover {
      background-color: var(--jl-dropdown-menuItem-hover-fill);
      color: var(--jl-dropdown-menuItem-hover-color);
    }
    &.is-disabled {
      color: var(--jl-dropdown-menuItem-disabled-color);
      cursor: not-allowed;
      background-image: none;
    }
  }
  .divided-placeholder {
    margin: 6px 0;
    border-top: 1px solid var(--jl-dropdown-menuItem-divided-color);
  }
}
