:root {
  /* colors */
  --jl-color-white: #ffffff;
  --jl-color-black: #000000;
  --colors: (primary: #409eff, success: #67c23a, warning: #e6a23c, danger: #f56c6c, info: #909399);

  /* @each $val, $color in var(--colors) {
    --jl-color-$(val): $(color);
    @for $i from 3 to 9 by 2 {
      --jl-color-$(val)-light-$(i): mix(#fff, $(color), .$(i));
    }
    --jl-color-$(val)-light-8: mix(#fff, $(color), 0.8);
    --jl-color-$(val)-dark-2: mix(#000, $(color), 0.2);
  } */

  --jl-bg-color: #ffffff;
  --jl-bg-color-page: #f2f3f5;
  --jl-bg-color-overlay: #ffffff;
  --jl-text-color-primary: #303133;
  --jl-text-color-regular: #606266;
  --jl-text-color-secondary: #909399;
  --jl-text-color-placeholder: #a8abb2;
  --jl-text-color-disabled: #c0c4cc;
  --jl-border-color: #dcdfe6;
  --jl-border-color-light: #e4e7ed;
  --jl-border-color-lighter: #ebeef5;
  --jl-border-color-extra-light: #f2f6fc;
  --jl-border-color-dark: #d4d7de;
  --jl-border-color-darker: #cdd0d6;
  --jl-fill-color: #f0f2f5;
  --jl-fill-color-light: #f5f7fa;
  --jl-fill-color-lighter: #fafafa;
  --jl-fill-color-extra-light: #fafcff;
  --jl-fill-color-dark: #ebedf0;
  --jl-fill-color-darker: #e6e8eb;
  --jl-fill-color-blank: #ffffff;

  /* border */
  --jl-border-width: 1px;
  --jl-border-style: solid;
  --jl-border-color-hover: var(--jl-text-color-disabled);
  --jl-border: var(--jl-border-width) var(--jl-border-style) var(--jl-border-color);
  --jl-border-radius-base: 4px;
  --jl-border-radius-small: 2px;
  --jl-border-radius-round: 20px;
  --jl-border-radius-circle: 100%;

  /*font*/
  --vk-font-size-extra-large: 20px;
  --vk-font-size-large: 18px;
  --vk-font-size-medium: 16px;
  --vk-font-size-base: 14px;
  --vk-font-size-small: 13px;
  --vk-font-size-extra-small: 12px;
  --vk-font-family:
    "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei",
    "\5fae\8f6f\96c5\9ed1", Arial, sans-serif;
  --vk-font-weight-primary: 500;

  /*disabled*/
  --vk-disabled-bg-color: var(--vk-fill-color-light);
  --vk-disabled-text-color: var(--vk-text-color-placeholder);
  --vk-disabled-border-color: var(--vk-border-color-light);

  /*animation*/
  --vk-transition-duration: 0.3s;
  --vk-transition-duration-fast: 0.2s;
}
