.jl-icon {
  --jl-icon-color: inherit;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  fill: currentColor;
  color: var(--jl-icon-color);
  font-size: inherit;
}

@each $val in primary, info, success, warning, danger {
  .jl-icon--$(val) {
    --jl-icon-color: var(--jl-color-$(val));
  }
}
