.jl-tooltip {
  --jl-popover-bg-color: var(--jl-bg-color-overlay);
  --jl-popover-font-size: var(--jl-font-size-base);
  --jl-popover-border-color: var(--jl-border-color);
  --jl-popover-padding: 12px;
  --jl-popover-border-radius: 4px;
  display: inline-block;
}

.jl-tooltip {
  .jl-tooltip__popper {
    background: var(--jl-popover-bg-color);
    border-radius: var(--jl-popover-border-radius);
    border: 1px solid var(--jl-popover-border-color);
    padding: var(--jl-popover-padding);
    color: var(--jl-text-color-regular);
    line-height: 1.4;
    text-align: justify;
    font-size: var(--jl-popover-font-size);
    box-shadow: var(--jl-box-shadow-light);
    word-break: break-all;
    box-sizing: border-box;
    z-index: 1000;
    #arrow,
    #arrow::before {
      position: absolute;
      width: 8px;
      height: 8px;
      box-sizing: border-box;
      background: var(--jl-popover-bg-color);
    }
    #arrow {
      visibility: hidden;
    }
    #arrow::before {
      visibility: visible;
      content: "";
      transform: rotate(45deg);
    }
    &[data-popper-placement^="top"] > #arrow {
      bottom: -5px;
    }

    &[data-popper-placement^="bottom"] > #arrow {
      top: -5px;
    }

    &[data-popper-placement^="left"] > #arrow {
      right: -5px;
    }

    &[data-popper-placement^="right"] > #arrow {
      left: -5px;
    }
    &[data-popper-placement^="top"] > #arrow::before {
      border-right: 1px solid var(--jl-popover-border-color);
      border-bottom: 1px solid var(--jl-popover-border-color);
    }
    &[data-popper-placement^="bottom"] > #arrow::before {
      border-left: 1px solid var(--jl-popover-border-color);
      border-top: 1px solid var(--jl-popover-border-color);
    }
    &[data-popper-placement^="left"] > #arrow::before {
      border-right: 1px solid var(--jl-popover-border-color);
      border-top: 1px solid var(--jl-popover-border-color);
    }
    &[data-popper-placement^="right"] > #arrow::before {
      border-left: 1px solid var(--jl-popover-border-color);
      border-bottom: 1px solid var(--jl-popover-border-color);
    }
  }
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity var(--jl-transition-duration);
  }
  .fade-enter-from,
  .fade-leave-to {
    opacity: 0;
  }
}
