.jl-message {
  --jl-message-bg-color: var(--jl-color-info-light-9);
  --jl-message-border-color: var(--jl-border-color-lighter);
  --jl-message-padding: 15px 19px;
  --jl-message-close-size: 16px;
  --jl-message-close-icon-color: var(--jl-text-color-placeholder);
  --jl-message-close-hover-color: var(--jl-text-color-secondary);
}
.jl-message {
  width: fit-content;
  max-width: calc(100% - 32px);
  box-sizing: border-box;
  border-radius: var(--jl-border-radius-base);
  border-width: var(--jl-border-width);
  border-style: var(--jl-border-style);
  border-color: var(--jl-message-border-color);
  position: fixed;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  background-color: var(--jl-message-bg-color);
  padding: var(--jl-message-padding);
  display: flex;
  align-items: center;
  transition:
    top var(--jl-transition-duration),
    opacity var(--jl-transition-duration),
    transform var(--jl-transition-duration);
  .jl-message__content {
    color: var(--jl-message-text-color);
    overflow-wrap: anywhere;
  }
  &.is-close .jl-message__content {
    padding-right: 30px;
  }
  .jl-message__close {
    display: flex;
    align-items: center;
  }
  .jl-message__close svg {
    cursor: pointer;
  }
}
@each $val in info, success, warning, danger {
  .jl-message--$(val) {
    --jl-message-bg-color: var(--jl-color-$(val)-light-9);
    --jl-message-border-color: var(--jl-color-$(val)-light-8);
    --jl-message-text-color: var(--jl-color-$(val));
    .jl-message__close {
      --jl-icon-color: var(--jl-color-$(val));
    }
  }
}
.jl-message.fade-up-enter-from,
.jl-message.fade-up-leave-to {
  opacity: 0;
  transform: translate(-50%, -100%);
}
